<!DOCTYPE html>
<html lang="eu" xmlns:th="http://www.thymeleaf.org">
<head th:insert="sections/head ::head">
  <meta charset="UTF-8">
  <title>Title</title>


</head>
<header th:insert="sections/header ::header">

</header>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>About blog</h2>
        <p>Welcome to our gaming blog! We are passionate gamers who love to share our gaming experiences, tips, and insights with fellow gamers. Our mission is to provide you with the latest updates, reviews, and guides on all things related to video games.</p>
        <p>Whether you're a casual gamer or a hardcore enthusiast, you'll find something here for you. We cover a wide range of topics, from game reviews and walkthroughs to hardware reviews and industry news.</p>
      </div>
    </div>
  </div>
</body>
<footer th:insert="sections/footer ::footer">

</footer>
</html>