<!DOCTYPE html>
<html lang="eu" xmlns:th="http://www.thymeleaf.org">
<head th:insert="sections/head ::head">
  <meta charset="UTF-8">
  <title>Title</title>


</head>

<body>
<header th:insert="sections/header ::header">

</header>
<div class="container">
  <div class="row">
      <div class="col">
        <h2>My contacts</h2>
        <ul>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Delectus dolor laudantium odit suscipit.</li>
          <li>Dicta id illum officiis sed?</li>
          <li>Fugiat hic numquam repellendus voluptates.</li>
          <li>Ex officiis qui ullam voluptas?</li>
        </ul>
      </div>
  </div>
</div>
<footer th:insert="sections/footer ::footer"></footer>
</body>

</html>