<!DOCTYPE html>
<html lang="eu" xmlns:th="http://www.thymeleaf.org">
<head th:insert="sections/head ::head">
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<header th:insert="sections/header ::header">

</header>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome to Our Gaming Blog</h1>
            <p>Explore the exciting world of gaming with us! We are your source for the latest gaming news, reviews, and more. Whether you're a console gamer, PC enthusiast, or mobile gamer, you'll find something to enjoy here.</p>
            <p>Check out our latest <a href="/about">About</a> page to learn more about us, our mission, and what we offer. Interested in reaching out to us? Visit our <a href="/contacts">Contacts</a> page for ways to get in touch.</p>
            <p>Don't forget to read our <a href="/posts">Posts</a> for in-depth game reviews, guides, and industry insights. Stay tuned for the latest updates!</p>
        </div>
    </div>
</div>
</body>
<footer th:insert="sections/footer ::footer">

</footer>
</html>